frontend/.env
.env
*.md
*.csv
*.json
*.xlsx
*.xls
*.txt
*.pdf
*.docx
*.doc
*.pptx
*.ppt
*.odt
*.odp
frontend/nginx.conf
.claude/settings.local.json
__pycache__/
frontend/.claude/settings.local.json
comfyui
_bmad
_bmad*
.agentvibes
.claude